<div class="mentees">
  <!-- Current Mentees -->
  <h3>Current Students</h3>
  {% assign current_mentees = site.data.mentees | where: "active", true %}
  {% for mentee in current_mentees %}
    <div class="mentee">
        {% if mentee.website %}
            <a href="{{ mentee.website }}" target="_blank">{{ mentee.name }}</a>
        {% else %}
            <span>{{ mentee.name }}</span>
        {% endif %}
        {% if mentee.degree %}<span class="separator">:</span> {{ mentee.degree }}{% endif %}
    </div>
  {% endfor %}

  <!-- Past Mentees -->
  <h3>Past Students</h3>
  {% assign past_mentees = site.data.mentees | where: "active", false %}
  {% for mentee in past_mentees %}
    <div class="mentee">
      {% if mentee.website %}
        <a href="{{ mentee.website }}" target="_blank">{{ mentee.name }}</a>
      {% else %}
        <span>{{ mentee.name }}</span>
      {% endif %}
      {% if mentee.degree %}<span class="separator">:</span> {{ mentee.degree }}{% endif %}
      {% if mentee.current %}<span class="separator">→</span> {{ mentee.current }}{% endif %}
    </div>
  {% endfor %}
</div>